<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <p>Welcome to
    <%= title %>
  </p>
  <a href="" id="conferencesLink">Conferences</a>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>

  <script>
    $(() => {
      var link = '/conferences'
      var token = localStorage.getItem('auth_token');

      if (token) {
        token = JSON.parse(token)
        if (token.unencoded.admin) {
          link = '/admin/conferences'
        }
      }

      $('#conferencesLink').attr("href", link)
    })
  </script>
</body>


</html>
