<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <script>
        localStorage.removeItem('auth_token')
        location.href = '/'
    </script>
  </body>
</html>
