<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/javascripts/main.js"></script>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Conferences</h1>
            </div>
            <div id="alertRow" class="col-sm-12" style="display: none;">
                <div id="alertContent" class="alert alert-danger" role="alert">
                </div>
            </div>

            <div class="col-sm-12">
                <div class="table-responsive">
                    <table class="table" id="conferencesTable">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Name</th>
                                <th scope="col">Users</th>
                                <th scope="col">Open</th>
                                <th scope="col">Actions</th>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

    <script>
        function populateTable(data) {
            $('#conferencesTable tbody tr').remove();
            data.forEach(element => {
                var registerButton = ''
                if (!element.users.includes(token.unencoded.username)) {
                    registerButton =
                        `<a class="btn btn-info btn-sm" onclick="registerToConference('${element._id}')" role="button" style="margin-left: 10px">Register</a>`
                }

                $('#conferencesTable tbody').append(
                    '<tr>' +
                    '<td>' + element._id + '</td>' +
                    '<td>' + element.name + '</td>' +
                    `<td>${element.users.length}</td>` +
                    `<td>${element.status}</td>` +
                    `<td><a class="btn btn-primary btn-sm" href="/conferences/${element._id}" role="button">Details</a>${registerButton}</td>` +
                    '</tr>'
                )
            });
        }

        function registerToConference(conferenceId) {
            axios.get(`/api/conferences/${conferenceId}/register`).then((response) => {
                if (response.data.success) location.reload()
                else {
                    $('#alertContent').text(response.data.msg)
                    $('#alertRow').css({
                        display: "block"
                    })
                }
            }).catch(err => {
                if (err.response) {
                    if (err.response.status === 401) location.href = '/login'
                }
                else {
                    $('#alertContent').text(response.data.msg)
                    $('#alertRow').css({
                        display: "block"
                    })
                }
            })
        }

        $(() => {
            axios.get('/api/conferences').then((response) => {
                console.log(response.data)
                if (response.data.success) {
                    populateTable(response.data.conferences)
                }
            }).catch(err => {
                console.log(err)
                if (err.response.status === 401) {
                    location.href = '/login'
                }
            })
        })
    </script>
</body>

</html>
